@import 'mixin';

$headline-bgcolor: #a6a7b4;
$primary-margin: 20px;
$primary-padding: 20px;
$primary-border-radius: 10px;
$secondery-bgcolor: #d23e43;
$primary-text-color: green;

h1 {
    $primary-text-color: yellow !global;
    color: $primary-text-color;
    background: $headline-bgcolor;
    margin: $primary-margin;
    padding: $primary-padding;
    border-radius: $primary-border-radius;
    cursor: pointer;
}

.btn {
    padding: 10px 15px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 25px;
    color: rgb(1, 203, 1);
    border: solid;
    cursor: pointer;

}

.btn-download {
    @extend .btn;
}

.btn-readmore {
    @extend .btn;
    color: rgb(161, 0, 0);
}

p {
    background: $secondery-bgcolor;
    margin: $primary-margin;
    padding: $primary-padding;
    border-radius: $primary-border-radius;
    color: $primary-text-color;
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;

    ul {
        list-style-type: none;
        // background: red;

        li {
            display: inline-block;

            a {
                @include a-element-styls;
            }

            a:hover {
                @include a-element-hover-style();
            }
        }
    }
}