$headline-bgcolor: #a6a7b4;
$primary-margin: 20px;
$primary-padding: 20px;
$primary-border-radius: 10px;
$secondery-bgcolor: #d23e43;
$primary-text-color: green;

h1 {
    $primary-text-color: yellow !global;
    color: $primary-text-color;
    background: $headline-bgcolor;
    margin: $primary-margin;
    padding: $primary-padding;
    border-radius: $primary-border-radius;
}

p {
    background: $secondery-bgcolor;
    margin: $primary-margin;
    padding: $primary-padding;
    border-radius: $primary-border-radius;
    color: $primary-text-color;
}

