$headline-bgcolor: #a6a7b4;
$primary-margin: 20px;
$primary-padding: 20px;
$primary-border-radius: 10px;
$secondery-bgcolor: #d23e43;
$primary-text-color: green;

h1 {
    $primary-text-color: yellow !global;
    color: $primary-text-color;
    background: $headline-bgcolor;
    margin: $primary-margin;
    padding: $primary-padding;
    border-radius: $primary-border-radius;
}

p {
    background: $secondery-bgcolor;
    margin: $primary-margin;
    padding: $primary-padding;
    border-radius: $primary-border-radius;
    color: $primary-text-color;
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 5px, 10px, 5px, 10px;

}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    background: rgb(0, 182, 254);
}